<!-- <div style="background-color: lightskyblue" id="all"> -->
  <!-- <header class="header">
    <h1>Hospital Management System</h1>

    <div class="menu" id="menu">
      <a (click)="home()">Home</a>
      <a (click)="contact()">Contact</a>
      <a (click)="about()">About us</a>
      <a (click)="logout()">Logout</a>
    </div>
  </header> -->

  <nav class="header">
              <ul class="menu">
                <li class="logo"><a href="#">Hospital Management System</a></li>
                <li class="item"><a (click)="home()" >Home</a></li>
                <li class="item"><a (click)="about()">About us</a></li>
                <li class="item"><a (click)="contact()">Contact</a></li>
                <li class="item"><a (click)="logout()">Logout</a></li>
                <a style = "color: rgb(21, 255, 157);">Hello {{ username }}</a> 
              </ul>
  </nav>


  
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <a (click)="patinetList()">Patient</a>
    <a (click)="doctorList()">Doctor</a>
    <a (click)="departmentList()" *ngIf="showAdminBoard">Department</a>
    <a (click)="employeeList()" *ngIf="showAdminBoard">Employee</a>
  </div>
  <span class="hamburger" id="hamburger" (click)="openNav()">☰ </span>
<!-- </div> --> 
<router-outlet></router-outlet>
